* {
  box-sizing: border-box;    
}

div {
  /* border-style: solid; */
  /* border-color: steelblue; */
  /* border-width: 1px; */
}

.container {
}

#outer {
  border-style: solid;
  border-color: steelblue;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
  height: 390px;
  width: 740px;
}


#table-container {
  float: left;
  height: 100%;
  width: 23%;
}

#chart-container {
  float: left;
  height: 100%;
  width: 66%;
}

#right-panel-container {
  float: left;
  width: 11%;
  height: 100%;
  /* border-style: solid; */
  /* border-color: red; */
  /* border-width: 1px; */
  font-family: sans-serif;
  font-size: 10px;
}

#chart1 {
  height: 50%;
}

#lower-row {
  float: bottom;
  width: 100%;
  height: 50%;
}

.small-chart {
  float: left;
  height: 100%;
}

#chart2 {
  width: 32%;
}

#chart3 {
  width: 68%;
}

table {
  overflow: auto;
  max-height: 250px;
}

#input_table {
  /* display: inline; */
  display: flex;
  align: top;
}

#table-heading {
  max-width: 30px;
  display: inline;
  font-size: 10px;
}

.barLabels {
  font-size: 8px;
}

.fund_row {
  width: 40px;
  font-size: 10px;
  display: inline;
}

#xinput {
  width: 40px;
}

button {
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  align: center;
  border-radius: 3px;
  margin: 3px;
  width: 90%;
  font-size: 10px;
}

.remove-btn {
  font-size: 7px;
  background-color: DarkRed;
}

.info-btn, #update-btn {
  font-size: 7px;
  background-color: green;
}

.table-heading {
  font-family: Arial, sans-serif;
  font-size: 10px;
  width: 40px;
  align: center;
}

td {
  height: 25px;
}

.xAxis {
  font-size: 8px;
}

.yAxis {
  font-size: 8px;
}

input {
  font-family: sans-serif;
  font-size: 10px;
  font-color: DarkGrey;
  align: center;
}

#radio-labels {
  float: left;
  align: right-top;
  width: 70%;
  height: 30px;
}

.rad {
  padding: 10px;
}

.tooltip {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-color: DarkGrey;
}

.fundAmt {
  width: 30px;
  text-align: right;
}
