* {
  box-sizing: border-box;    
}

div {
  /* border-style: solid; */
  /* border-color: steelblue; */
  /* border-width: 1px; */
}

.container {
}

#outer {
  border-style: solid;
  border-color: steelblue;
  border-radius: 5px;
  border-width: 2px;
  padding: 5px;
  height: 790px;
  width: 740px;
}


#table-container {
  float: left;
  height: 400;
  width: 23%;
}

#chart-container {
  float: left;
  height: 55%;
  width: 66%;
}

#right-panel-container {
  float: left;
  width: 11%;
  height: 300;
  /* border-style: solid; */
  /* border-color: red; */
  /* border-width: 1px; */
  font-family: sans-serif;
  font-size: 10px;
}

#chart1 {
  height: 50%;
}

#lower-row {
  float: bottom;
  width: 100%;
  height: 50%;
}

.small-chart {
  float: left;
  height: 100%;
}

#chart2 {
  width: 32%;
}

#chart3 {
  width: 68%;
}

table {
}

#input_table {
  display: flex;
  overflow: auto;
  max-height: 280px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: grey;
}

#funds-table-container {
  float: left;
  height: 190px;
  width: 740px;
}

#funds-table {
  overflow: auto;
  max-height: 180px;
  display: inline-block;
  table-layout: fixed;
  width: 90%;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: grey;
  font-size: 10px;
}

#funds-table td {
  width: 25px;
}

#table-heading {
  max-width: 30px;
  display: inline;
}

.barLabels {
  font-size: 8px;
}

.fund_row {
  width: 40px;
  font-size: 10px;
  display: inline;
}

.fundInTable {
  font-family: Arial, sans-serif;
  font-size: 10;
  fill: steelBlue;
}

button {
  background-color: grey;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  align: center;
  border-radius: 3px;
  margin: 3px;
  width: 95%;
  font-size: 10px;
}

#newFundInputPanel {
  width=95%;
}

#addRow-btn {
  width: 45%;
}

#newFundName {
  float: left;
  width: 35%;
}

.remove-btn {
  font-size: 7px;
  background-color: DarkRed;
}

.info-btn, #update-btn {
  font-size: 7px;
  background-color: green;
}

.table-heading {
  font-family: Arial, sans-serif;
  font-size: 10px;
  width: 40px;
  align: center;
}

td {
  height: 25px;
}

.chart-title {
  font-family: Arial, sans-serif;
  font-size: 12;
  fill: steelBlue;
}

.chart-title.data-source {
  fill: black;
}

.xAxis {
  font-size: 8px;
}

.yAxis {
  font-size: 8px;
}

input {
  font-family: sans-serif;
  font-size: 10px;
  font-color: DarkGrey;
  align: center;
}

#radio-labels {
  float: left;
  align: right-top;
  width: 70%;
  height: 30px;
}

.rad {
  padding: 10px;
}

#sum, #fee {
  float: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: steelBlue;
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}

#spacer {
  height: 40px;
  width: 100%;
}

.label {
  float: left;
  width: 30%;
}

#sum-amt, #fee-amt {
  text-align: right;
}

.tooltip {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-color: DarkGrey;
}

.fundTableTitle {
  width: 6%;
  float: left;
}

.fundSelector {
  float:left;
  height: 200;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-color: DarkGrey;
}

.feeFilter {
  float: left;
  width: 6%;
}

.assetFilter {
  float: left;
  width: 70px;
}

.assetFilterTitle, .assetFilterTitle {
  float: left;
  width: 100%;
}

#filterAsset, #filterFee {
  width: 100%;
}

.zoneSelector {
  float: left;
  width: 35%;
}

#zoneTableTitle {
  width: 50%;
}

#zoneColHeads {
  width: 90%;
}

.zoneColHead {
  width: 11%;
  float: left;
}

.zoneCol {
  min-width: 60px;
  /* float: left; */
}

.countrySelector {
  float: left;
  width: 20%;
}

.areaType-selector {
  float: left;
  width: 20%;
}

